<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411998223312-5gbrijaemn3uci79689muv2a3lt16d12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411998223312-5gbrijaemn3uci79689muv2a3lt16d12</string>
	<key>API_KEY</key>
	<string>AIzaSyD-x4HqYO1O0kwDpkxIc128nM4f1bZ3oDM</string>
	<key>GCM_SENDER_ID</key>
	<string>411998223312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeelearn.intranet</string>
	<key>PROJECT_ID</key>
	<string>intranet-9fda2</string>
	<key>STORAGE_BUCKET</key>
	<string>intranet-9fda2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411998223312:ios:0dabf3a3a966fb4cdd97d5</string>
</dict>
</plist>